<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>WAVES</title>
</head>
<body>
<h1>Waves</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">totalSupply</th>
        <th scope="col">precision</th>
        <th scope="col">trades</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="waves: ${waves}">
        <td th:text="10744289800000000" />
        <td th:text="${waves.precision}" />
        <td th:text="${waves.trades}" />
    </tr>
    </tbody>
</table>
<h1>Prices</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Currency</th>
        <th scope="col">USD (first Price)</th>
        <th scope="col">USD (last Price)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${pricesList.waves.name}"/>
        <td th:text="${pricesList.firstPrice_usd_n}"/>
        <td th:text="${pricesList.lastPrice_usd_n}"/>
    </tr>
    </tbody>
</table>
<hr>
<h1>Tweets @waves.tech: </h1>
<div th:text="${tweetsWavesTech}"/>
<h1>Sentimentanalyse:</h1>
<hr>
<div th:text="${sentimentsWavesTech}"/>
<hr>
</body>
</html>